<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Managment</title>
    <link href="../styles/output.css" rel="stylesheet" />
    <script src="/src/scripts/src/index.js" defer></script>
    <script src="https://kit.fontawesome.com/3111ef2b65.js" crossorigin="anonymous"></script>
</head>

<body id="#dashboard">
    <div class="flex  max-w-full h-screen ">
        <div id="sidebar" class="flex h-screen sidebar  top-0 left-0 ">
            <aside id="sidebar" class="bg-gray-800 text-white w-64 p-4">
                <div class="text-2xl font-semibold mb-6 w-full px-4">Techrays</div>
                <nav>
                    <a href="./dashboard.html" class="block py-6 px-4 rounded hover:bg-gray-700">Dashboard</a>
                    <a href="./products.html" class="block py-6 px-4 rounded hover:bg-gray-700">Products</a>
                    <a href="#" class="block py-6 px-4 rounded hover:bg-gray-700">Add Products</a>
                    <a href="#" class="block py-6 px-4 rounded hover:bg-gray-700">Edit Products</a>
                </nav>
            </aside>
        </div>

        <div class=" w-full text-black h-full dashboard">

            <div class=" relative font-outfit-sans-serif   ">
                <div class="z-1 w-full font-outfit-sans-serif  my-0 relative flex flex-col   ">
                    <div class="text-4xl m-10 font-bold  text-center mb-20">
                        Inventory Dashboard
                    </div>

                    <div
                        class=" lg:w-full justify-evenly items-center lg:flex lg:gap-7  lg:mx-auto lg:my-0 grid grid-cols-2 gap-6  md:gap-6 cursor-pointer ">
                        <div class="bg-[#ffffff0d] rounded-2xl shadow-lg hover:bg-gray-50">
                            <div class="text-center  px-12 py-5 rounded-2xl  ">

                                <div
                                    class="lg:text-[88px]  font-outfit-sans-serif text-[2.5rem] font-extralight  md:text-[3.5rem] zero-text cursor-pointer ">
                                    <i class="fa-solid fa-box  " style="color: #1e2939;"></i></div>
                                <p class="text-[14px] text-text-muted font-medium tracking-[1.5px]">

                                    Products
                                </p>
                            </div>
                        </div>



                        <div class="bg-[#ffffff0d] rounded-2xl">
                            <div class="text-center  px-12 py-5 rounded-2xl cursor-pointer shadow-lg hover:bg-gray-50">

                                <div
                                    class="lg:text-[88px]  font-outfit-sans-serif text-[2.5rem] font-extralight  md:text-[3.5rem] zero-text ">
                                    <i class="fa-solid fa-plus" style="color: #1e2939;"></i></div>
                                <p class="text-[14px] text-text-muted font-medium tracking-[1.5px]">
                                    Add Products
                                </p>
                            </div>
                        </div>
                        <div class="bg-[#ffffff0d] rounded-2xl">
                            <div class="text-center  px-12 py-5 rounded-2xl cursor-pointer shadow-lg hover:bg-gray-50">

                                <div
                                    class="lg:text-[88px]  font-outfit-sans-serif text-[2.5rem] font-extralight  md:text-[3.5rem] zero-text ">
                                    <i class="fa-solid fa-pen-to-square" style="color: #1e2939;"></i></div>
                                <p class="text-[14px] text-text-muted font-medium tracking-[1.5px]">
                                    DAYS
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>